
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        header {
            background-color: #2a4478;
            text-align: center;
            display: flex;
            flex-flow: column;
            gap: 10px;
            padding: 10px;
        }

        header h1 {
            background-color: whitesmoke;
            display: inline-flex;
            border-radius: 10px;
            padding: 0 25px;
            margin-top: 5px;
        }

        header .market_icont button {
            padding: 10px;
            border-radius: 10px;
            border: none;
            background-color: aliceblue;
        }

        header .market_icont button input {
            font-size: large;
            border: none;
            background-color: aliceblue;
            border: #2a4478 solid;
            border-radius: 10px;
            text-align: center;
            direction: rtl;



        }

        header i {
            font-size: x-large;
            padding: 0 5px;
            background-color: aliceblue;
        }




        section {
            height: 100%;
            background-color: aqua;
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 30px;
            padding-top: 10px;
        }


        section img {

            border: red solid;
            border-radius: 5px;

            width: 100%;

        }

        .box {
            width: 54%;
            background-color: blue;
            border-radius: 10px;
            box-shadow: 1px 4px 4px 3px black;

        }

        .box:hover {
            transform: scale(1.1);
            transition: 2s;
        }

        section .too i:hover {
            transform: rotate(350deg);
            transition: 1.90s;
            background-color: red;
            color: white;
        }

        section .too {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: yellow;
            padding: 5px;
            border-radius: 0 0 10px 10px;
        }

        section .too p {
            background-color: aliceblue;
            padding: 5px 15px;
            border-radius: 5px;

        }

        section .too i {
            border: red solid 1px;
            border-radius: 5px;
            padding: 4px 10px;

        }
